*{
	padding: 0;
	margin: 0;
	user-select: none;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'GoshaSans';
}
header{
	width: 100%;
	padding-top: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #fff;
}
.wrapper{
	width: 65%;
	margin:0 auto;
}
.wrapper_menu{
	width: 65%;
	height: 100%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}
.head_block1{
	width: 100%;
	min-height: 130px;
	display: flex;
	flex-wrap: wrap;
}
.head_block_osn{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.head_block1_top{
	width: 755px;
	height: 70px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.logo{
	width: 260px;
	height: 65px;
	display: flex;
}
.logo img{
	width: 67px;
	height: 67px;
}
a.logo2{
	display: none;
}
.textlogo{
	font-family: GoshaSans;
	font-weight: bold;
	font-size: 18px;
	color: #fe0002;
	padding: 12px 0 0 30px;
}
.head_block1_top2{
	width: 280px;
	height: 65px;
	display: flex;
	justify-content: space-between;
}
.head_block1_top3{
	display: flex;
	padding-top: 25px;
}
.social_head{
	width: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.social_head img{
	width: 22px;
	height: 22px;
	display: flex;
	padding-top: 12px;
}
.head_menu{
	width: 117px;
	height: 22px;
	display: flex;
	font-size: 14px;
	justify-content: space-between;
	padding-top: 12px;
	font-family: 'Helvetica Neue Cyr Light'
}
.head_menu a{
	color: #0000fe;
}
.head_block1_bottom{
	width: 100%;
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #e9e9ea; 
}
.head_block1_bottom1{
	display: flex;
	width: 215px;
}
.wrapper_menu{
	width: 65%;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}
.wrapper_header{
	width: 65%;
	margin: 0 auto;
}
.topWindow {
    position: fixed;
    top: 0;
    z-index:1;
 }
nav{
	width: 760px;
	display: flex;
	font-family: 'Helvetica Neue Cyr Roman';
}
.topnav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: bold;
}
.topnav a{
	color: #000;
	cursor: pointer;
    position:relative;
    display: flex;
    margin-right:5px;
    white-space: nowrap;
}
.topnav a:after {
    background-color: #0000fe;
    display: flex;
    content: "";
    height: 5px;
    width: 0%;
    left:50%;
    position:absolute;
    top: 35px;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
}
.topnav a:hover:after,
.topnav a:focus:after {
    width: 100%;
}
.number{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
	color: #000;
	margin-bottom: 40px;
	white-space: nowrap;
}
.basket{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-family: 'Helvetica Neue Cyr Roman';
	font-size: 14px;
}
.basket_price{
	padding-top: 5px; 
}
.basket_price_cost{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.basket_price_cost p{
	display: flex;
	margin-right: 10px; 
}
.basket_price_count{
	color: 	#0000fe;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.basket_price_count p{
	display: flex;
	margin-right: 10px;
}
.arrow{
	width: 13px;
	height: 7px;
	display: flex;
	padding-top: 10px;
	outline:none;
	border: none;
	background: #fff;
	cursor: pointer;
}
a.basket_button{
	width: 105px;
	height: 40px;
	display: flex;	
	border-radius: 8px;
	background: #0000fe;
	align-items: center;
	color: #fff;
	font-size: 14px;
	justify-content: center;
}
.basket_button img{
	padding-right: 10px;
}
.fon_slider{
	width: 100%;
	max-height: 420px;
	background: #ff0000;
}
#block-for-slider {
    width: 100%;
    margin: 0 auto;
}
#viewport {
    width: 100%;
    max-height: 420px;
    display: table;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#slidewrapper {
    position: relative;
    width: calc(100% * 3);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

#slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

#slidewrapper li {
    width: calc(100%/3);
    list-style: none;
    display: inline;
    float: left;
}
.slide{
	height: 100%;
}
.slide-img {
    max-height: 430px;
    width: 100%;
}
.buttom_slider{
	width: 95%;
	top:50%;
	left: 2.5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	margin: 0 auto;
}
#prev-btn:hover, #next-btn:hover{
    cursor: pointer;
}
.nav-btns{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	top:90%;
}
.slide-nav-btn{
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	margin-right: 20px;
	cursor: pointer;
}
.slide-nav-btn-active{
	width: 10px;
	height: 10px;
	background: #fff;
}
.line_brand{
	width: 100%;
	height: 60px;
	background: #ff0000;
	display: flex;
	justify-content: center;
	align-items: center;
}
.line_brand img{
	background-size:cover;
	box-sizing: border-box;
	max-width: 100%;
}
.products_block{
	padding-top: 125px;
}
main h2{
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 60px;
}
main h3{
	font-size: 25px;
	font-weight: bold;
}
.item_product{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.product{
	max-width: 260px;
	min-width: 260px; 
	max-height: 420px;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	margin: 0 10px;
	
}
.block_pruduct1{
	width: 100%;
	height: 100%;
}
.block_pruduct2{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;	
}
.product_img{
	width: 100%;
	height: 100%;
	display: flex;
	background-size: cover;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
.product_img img{
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
}
.name_product{
	width: 100%;
	min-height: 32px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.name{
	font-size: 20px;
	max-width: 195px;
	display: flex;
}
.dop_inf{
	display: flex;
	background-size: cover;
	padding-right: 30px;
}
.dop_inf img{
	width: 22px;
	height: 22px;	
}
.description_product{
	width: 100%;
	min-height: 65px;
	display: flex;
	font-size: 	14px;
	color: 	#919090;
	font-family: 'Helvetica Neue Cyr Light';
	padding-bottom: 10px;
}
.price_product{
	width: 100%;
	display: flex;
	flex-direction: row;
	font-size: 25px;
	align-items: center;
	justify-content: space-around;
	white-space:nowrap;
}
.price_product img{
	width: 10px;	
	height: 14px;
	padding-top: 12px;
	padding-left: 5px;
}
.knopka_basket{
	outline:none;
	width: 85px;
	height: 40px;
	display: flex;
	border:1px solid #0000fe;
	border-radius: 4px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #0000fe;
	margin-left: 15px;
	user-select: none;
	background: #fff;
}
.knopka_basket2{
	width: 85px;
	height: 40px;
	display: flex;
	background: #fe0002;
	border-radius: 4px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #fff;
	margin-left: 15px;
	user-select: none;
}
footer{
	background: #41414d;
	margin-top: 150px;
}
.footer_info{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between; 
}
.footer_block1{
	width: 520px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer_block2{
	display: flex;
}
.footer_contact{
	height: 45px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-end;
}
.footer_number{
	font-size: 20px;
	color: #fff;
	display: flex;
}
.footer_mail{
	display: flex;
	align-self: flex-end;
	font-size: 14px;
	color: #fff;
}
.social_footer{
	width: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.nav_footer{
	width: 360px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nav_footer a{
	color: #fff;
	font-size: 14px;
}
.nav_footer a:after {
    background-color: #fff;
    display: flex;
    content: "";
    height: 1px;
    width: 0%;
    left:50%;
    position: relative;
    top: 1px;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
}
.nav_footer a:hover:after,
.nav_footer a:focus:after {
    width: 100%;
}
.footer_info2{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	flex-wrap: wrap;
}
.footer_info2 p{
	display: flex;
	color: #fff;
	font-size: 14px;
}
.footer_info2 img{
	display: flex;
}
.block-btn-basket{
	max-width: 195px;
	display: flex;
	flex-direction: row;
	padding-left: 10px;
	align-items: center;
}
.btn-plus-minus{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 5px;
}
.btn-minus{
	outline:none;
	border: none;
	display: flex;
	width: 26px;
	height: 26px;
	background: red;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	background-size: cover;
}
.btn-minus img{
	display: flex;
	width: 11px;
	height: 3px;
	padding: 0;
	user-select: none;
}
.btn-plus{
	outline:none;
	border: none;
	display: flex;
	width: 26px;
	height: 26px;
	background: red;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	align-items: center;
	justify-content: center;
	color: #fff;
	cursor: pointer;
	background-size: cover;
}
.btn-plus img{
	display: flex;
	width: 11px;
	height: 10px;
	padding: 0;
	user-select: none;
}
.btn-plus-minus input{
	outline:none;
	border: none;
	width: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	user-select: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.burger_button{
	display: none;
}
.contacts{
	display: flex;
	width: 100%;
	justify-content: flex-start;
	margin-bottom: 60px;
}
.contact{
	max-width: 270px;
	height: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-right: 65px;
}
.img-contacts{
	height: 100%;
	background-size: cover;
	justify-content: flex-start;
	padding-top: 4px;
	margin-right: 15px;	
}
.inform-contacts{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.text-contacts{
	display: flex;
	font-size: 20px;
	font-weight: bold;
	justify-content: flex-start;
	color: #000;
	margin-bottom: 5px;
}
.podtext-contacts{
	font-size: 16px;
	color: #878686;
	font-family: 'Helvetica Neue Cyr Roman';
	white-space:nowrap;
}
.maps{
	width: 100%;
	height: 400px;
}
.footer-line{
	height: 60px;	
	background-image: url(../img/footer.jpg);
}
.information-block{
	width: 100%;
	padding-top: 60px;
}
.information-block p{
	font-size: 20px;
	color: #41414d;
	text-align: justify;
	margin-bottom:50px;
	font-family: 'Helvetica Neue Cyr Roman'; 
}
.modalDialog{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #41414d;
	z-index: 9999;
	display: none;
	pointer-events: none;
}
.modalDialog:target{
	display: block;
	pointer-events: auto;
}
.modalHeader{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	height: 45px;
	justify-content: space-between;
}
.block-logo{
	display: flex;
	align-items: center;
}
.block-logo img{
	margin-right: 15px;
}
.close{
	display: flex;
	align-items: center;
}
.modalContacts{
	width: 100%;
	display: flex;
	padding-top: 60px;
	text-align: center;
	font-family: 'Helvetica Neue Cyr Light';
	font-size: 20px;
	flex-direction: column;
}
.modalContacts a{
	color: #fff;
	margin-bottom: 25px; 
}
.modalSocial{
	width: 100%;
	height: 120px;
	border: 1px solid #60606a;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px; 
}
.numberModal{
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
	color: #fff; 
}
.socialModal{
	width: 125px;
	justify-content: space-between;
	display: flex;
	margin-top: 30px;
}
.wrapper-basket{
	width: 50%;
	margin: 0 auto;
}
.big-basket{
	margin-bottom: 90px;
	margin-top: 60px;
}
table.tablebasket{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
.tablebasket tr{
	font-size: 20px;
	border-top: 1px solid #e9e9ea;
	border-bottom: 1px solid #e9e9ea; 	
}
.tablebasket td{
	padding: 30px 10px 30px 30px;
}
.table_center{
	text-align: center;
}
.tablebasket tr td:first-child{
	width: 40%;
	padding: 30px 10px 30px 60px;
}
.rub-img img{
	margin-left: 5px; 
}
.recommend_product{
	width: 100px;
	justify-content: flex-start;
	display: flex;
}
.rec_product{
	margin-top: 50px;
	margin-right: 80px;
	width: 160px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.img_rec{
	display: flex;
	width: 100%;
	height: 90px;
	background-size: cover;
	align-items: center;
}
.rec_name{
	width: 100%;
	margin-bottom: 15px;
	font-size: 16px;
}
.rec_price{
	width: 100%;
	font-size: 20px;
	margin-bottom: 20px;
}
.recommend_product, .knopka_basket{
	margin-left: 0;
}
.order_price{
	margin-top: 70px;
	font-size: 30px;
	font-weight: bold;
	justify-content: flex-end;
	align-items: center;
	display: flex;
}
.order_price img{
	height: 14px;
	display: flex;
	margin-top: 5px;
	margin-left: 10px;
}
.order_price span{
	color: #fe0002;
	margin-left: 10px;
}
.nav_basket{
	width: 100%;	
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 55px;
	margin-bottom: 60px;
}
.back_menu{
	outline:none;
	width: 230px;
	height: 65px;
	display: flex;
	border:1px solid #e9e9ea;
	border-radius: 10px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #000;
	user-select: none;
	background: #fff;
}
.to_order{
	outline:none;
	width: 190px;
	height: 68px;
	display: flex;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	user-select: none;
	background: #fe0002;
}
.remove_cart{
	outline:none;
	border: none;
	background: #fff;
	cursor: pointer;
}
.modal_div{
	width: 800px; 
	height: 660px; 
	border-radius: 10px;
	background: #41414d;
	position: fixed; 
	top: 45%; 
	left: 50%; 
	margin-top: -350px;
	margin-left: -430px; 
	display: none; 
	opacity: 0; 
	z-index: 5;
}
.modal_div1{
	width: 800px; 
	height: 660px;
	border-radius: 10px;
	background: #41414d;
	position: fixed; 
	top: 45%; 
	left: 50%; 
	margin-top: -350px;
	margin-left: -430px;
	display: none;
	opacity: 0; 
	z-index: 5; 
}
#overlay {
	z-index:3;
	position:fixed; 
	background-color:#41414d; 
	opacity:0.8; 
	-moz-opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 
	top:0;
	left:0;
	cursor:pointer;
	display:none; 
}
.modal_div .modal_close{
	width: 36px;
	height: 36px;
	position: absolute;
	top: 10px;
	right: -50px;
	cursor: pointer;
	display: block;
	background-size: cover;
}
.modal_div1 .modal_close{
	width: 36px;
	height: 36px;
	position: absolute;
	top: 10px;
	right: -50px;
	cursor: pointer;
	display: block;
	background-size: cover;
}
.dostavka{
	display: flex;
	width: 100%;
	margin-top: 50px;
	margin-left: 100px;
	flex-direction: column;
}
.text_dostavka{
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	display: flex;
}
.block_button{
	display: flex;
	flex-direction: row;
	margin: 35px 0;
}
.na_dostavku{
	display: flex;
	width: 180px;
	height: 60px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #fff;
	color: #41414d;
	margin-right: 22px;
	font-size: 16px;
}
.na_dostavku1{
	display: flex;
	width: 180px;
	height: 60px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #41414d;
	border: 1px solid #5e5e6e;
	color: #fff;
	font-size: 16px;
	margin-right: 22px;
}
.samovivoz{
	display: flex;
	width: 180px;
	height: 60px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #41414d;
	border: 1px solid #5e5e6e;
	color: #fff;
	font-size: 16px;
}
.samovivoz1{
	display: flex;
	width: 180px;
	height: 60px;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #fff;
	color: #41414d;
	font-size: 16px;
}
.street_home{
	display: flex;
	flex-direction: row;
}
.dostavka input[type="text"]{
	color: #fff;
	padding-left: 10px;
	font-size: 14px;
	font-family: 'Helvetica Neue Cyr Roman';
}
.dostavka input[type="text"]::placeholder{
	color: #fff;
}
.dostavka input[type="text"]::-webkit-input-placeholder{
	color: #fff;
}
.dostavka input[type="text"]:-ms-input-placeholder{
	color: #fff;
}
.dostavka input[type="text"]::-ms-input-placeholder{
	color: #fff;
}
.dostavka input[type="text"]::-moz-placeholder{
	color: #fff;
}
.street input{
	display: flex;
	width: 400px;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 5px;
	background: #5e5e6e;
	margin-right: 20px;
}
.home input{
	display: flex;
	width: 85px;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 5px;
	background: #5e5e6e;
}
.other{
	display: flex;
	flex-direction: row;
	margin: 35px 0;
}
.other_field input{
	display: flex;
	width: 85px;
	height: 40px;
	outline: none;
	border: none;
	border-radius: 5px;
	background: #5e5e6e;
	margin-right: 20px;
}
.comment{
	display: flex;
}
.comment textarea{
	width: 505px;
	height: 105px;
	outline: none;
	border-radius: 5px;
	border: none;
	background: #5e5e6e;
	color: #fff;
}
.comment textarea[name="comment"]{
	padding: 10px;
	padding-top: 10px;
	font-size: 14px;
	font-family: 'Helvetica Neue Cyr Roman';
}
.comment textarea[name="comment"]::placeholder{
	color:#fff;
}
.dostavka textarea[type="comment"]::-webkit-input-placeholder{
	color: #fff;
}
.dostavka textarea[type="comment"]:-ms-input-placeholder{
	color: #fff;
}
.dostavka textarea[type="comment"]::-ms-input-placeholder{
	color: #fff;
}
.dostavka textarea[type="comment"]::-moz-placeholder{
	color: #fff;
}
.confirm_address{
	width: 230px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fe0002;
	color: #fff;
	border-radius: 5px;
	border: none;
	outline: none;
	font-size: 20px;
	margin-top: 35px;
	cursor: pointer;
}
.samovivoz_adress{
	display: flex;
}
.text_adress{
	font-size: 14px;
	font-family: 'Helvetica Neue Cyr Roman';
	color: #fff;
}
.choose{
	width: 230px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fe0002;
	color: #fff;
	border-radius: 5px;
	border: none;
	outline: none;
	font-size: 20px;
	margin-top: 35px;
	cursor: pointer;
	margin-top: 190px;
}
.line_modal{
	margin-top: 15px;
	height: 60px;
    background-image: url(../img/footer.jpg);
    border-radius: 0 0 10px 10px;
}
.line_modal2{
	margin-top: 59px;
	height: 60px;
    background-image: url(../img/footer.jpg);
    border-radius: 0 0 10px 10px;
}
.title_basket{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	margin:55px 0;
}
.title_basket h2{
	display: flex;
	padding: 0; 
}
.stage_basket{
	width: 410px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.stage_none{
	display: flex;
	align-items: center;
	opacity: .2;
	font-size: 25px;
	color: #41414d;
}
.stage{
	display: flex;
	align-items: center;
	font-size: 25px;
	color: #41414d;
}
.block_circle{
	width: 37px;
	height: 37px;
	background: #fff;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	border: 1px solid #41414d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
}
.stage_text{
	display: flex;
	color:#41414d;
	font-size: 14px;
}
.zakaz_payment{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.input_block_zakaz input{
	width: 320px;
	height: 40px;
	outline: none;
	border: 1px solid #898989;
	border-radius: 5px;
	margin-bottom: 15px;
}
.input_block_mini input{
	width: 145px;
	height: 40px;
	outline: none;
	border: 1px solid #898989;
	border-radius: 5px;
	margin-right: 20px;
	display: flex;
}
.zakaz_payment input[type="text"]{
	padding-left: 10px;
	color:#000;
	font-size: 14px;
	font-family: 'Helvetica Neue Cyr Roman';
}
.dom_kvartira{
	display: flex;
	flex-direction: row;
}
.block_zakaz1{
	display: flex;
	width: 335px;
	flex-direction: column;

}
.vid_dostavki{
	margin-top:30px; 
	display: flex;
	width: 100%;
	background: #fbfbfb;
	height: 300px;
	flex-direction: column;
}
.text_vid_dostavki{
	font-size: 25px;
	font-weight: bold;
	margin-top: 30px;
	margin-left: 20px;
	display: flex; 
}
.vibor_dostavki{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.vibor_dostavki input{
	display: flex;
	margin-right: 5px;
}
.vibor_dostavki label{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 20px 0 20px;
}
.commentariy textarea{
	width: 310px;
	height: 105px;
	outline: none;
	border-radius: 5px;
	border: none;
	background: #fff;
	color: #000;
	border: 1px solid #898989;
	border-radius: 5px;
}
.commentariy textarea[name="comment"]{
	padding: 10px;
	padding-top: 10px;
	font-size: 14px;
	font-family: 'Helvetica Neue Cyr Roman';
}
.sostav_zakaza{
	width: 290px;
	display: flex;
	background: #41414d;
	color: #fff;
	font-size: 20px;
	font-family: 'Helvetica Neue Cyr Roman';
	padding: 35px 20px 20px 20px;
	border-radius: 5px;
	flex-direction: column;
	position: sticky;
	top:65px; 
}
.text_sostava_zakaza{
	display: flex;
}
.sostav_table{
	margin-top: 30px;
	display: flex;
	width: 100%;
	font-size: 14px;
	
}
.sostav_table tbody{
	display: flex;
	width: 100%;
	flex-direction: column;
}
.sostav_table tr{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 30px;
	align-items: center; 
}
.sostav_table td{
	display: flex;
}
.sostav_price{
	font-size: 20px;
	font-family: 'GoshaSans';
}
.sostav_table img{
	background-size: cover;
	width: 10px;
	height: 14px;
	margin-top: 7px;
	margin-left: 5px;
}
.itog_sostav_zakaza{
	display: flex;
	margin-top: 45px;
	align-items: center;
	justify-content: space-between;
}
.itog_sostav_zakaza_text{
	font-size: 14px;
	display: flex;
}
.itog_sostav_zakaza_summa{
	font-family: 'GoshaSans';
	font-size: 20px;
	display: flex;
}
.nav_zakaz{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;  
}
.back_to_basket{
	display: flex;
	width: 230px;
	height: 65px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border:1px solid #e9e9ea;
	font-size: 20px;
	font-family: 'Helvetica Neue Cyr Roman';
	color: #000;
}
.order_submit{
	display: flex;
	outline: none;
	border: none;
	font-size: 20px;
	color: #fff;
	width: 190px;
	height: 68px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: #fe0002;
	cursor: pointer;
}
.sostav_table tr td input{
	outline: none;
	background: #41414d;
	border: none;
	display: flex;
	width: 10px;
	color: #fff;
	font-size: 14px;
}
.sostav_table tr td:first-child{
	width: 40%;
}
.status_zakaz{
	font-size: 20px;
	font-family: 'Helvetica Neue Cyr Roman';
}
.status_zakaz span{
	color: #ee220c;
}
.status_zakaz p{
	color: #41414d;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 40px; 	
}
.dostavka_zakaz{
    color: #41414d;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 20px;
}
.dostavka_zakaz span{
	color: #ee220c;
}
.mob-korzina{
	display: none;
}
.mobile-korzina{
	display: none;
}

@font-face{
	font-family: 'GoshaSans';
	src:url(../fonts/GoshaSans-Regular.otf);
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'GoshaSans';
	src:url(../fonts/GoshaSans-Bold.otf);
	font-weight: bold;
	font-style: normal;
}
@font-face {
font-family: 'Helvetica Neue Cyr Light';
src: url('../fonts/HelveticaNeueCyr-Light.eot');
src: url('../fonts/HelveticaNeueCyr-Light.eot') format('embedded-opentype'),
url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Helvetica Neue Cyr Roman';
src: url('../fonts/HelveticaNeueCyr-Roman.eot');
src: url('../fonts/HelveticaNeueCyr-Roman.eot') format('embedded-opentype'),
url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@media screen and (max-width:  1680px){
	.wrapper_menu{
		width: 80%;
	}
	.wrapper{
		width: 80%;
	}
	.wrapper_header{
		width: 80%;
	}
	.wrapper-basket{
		width: 60%;
	}
}
@media screen and (max-width:  1420px){
	.wrapper_menu{
		width: 90%;
	}
	.wrapper{
		width: 90%;
	}
	.wrapper_header{
		width: 90%;
	}
	.wrapper-basket{
		width: 70%;
	}
}
@media screen and (max-width:  1330px){
	.head_block2{
		display: none;
	}
}
@media screen and (max-width:  1250px){
	.wrapper_menu{
		width: 95%;
	}
	.wrapper{
		width: 95%;
	}
	.wrapper_header{
		width: 95%;
	}
	.wrapper-basket{
		width: 80%;
	}
}
@media screen and (max-width:  1200px){
	.wrapper_menu{
		width: 98%;
	}
	.wrapper{
		width: 98%;
	}
	.wrapper_header{
		width: 98%;
	}
	.wrapper-basket{
		width: 90%;
	}
}
@media screen and (max-width:  1023px){
	.head_block1_top3{
		display: none;
	}
	.head_block1_bottom1{
		display: none;
	}
	.head_block1_top{
		width: 100%;
	}
	.head_block1_bottom{
		width: 100%;
	}
	.mobile-korzina{
		width: 65px;
		height: 60px;
		display: flex;
		position: fixed;
		left: 45%;
		bottom: 30px;
	}
	.block-mobile-korzina{
		width: 46px;
		height: 46px;
		background: #0000fe;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
	}
	.num-position{
		width: 23px;
		height: 23px;
		background: #fff;
		-moz-border-radius: 12px;
		-webkit-border-radius: 12px;
		border-radius: 12px;
		border: 1px solid #0000fe;
		z-index: 5;
		position: relative;
		left: 30px;
		bottom: 55px;
		color: #dc6b59;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width:  838px){
	.item_product{
		justify-content: center;
	}
}
@media screen and (max-width:  820px){
	.fon_slider{
		display: none;
	}
	.line_brand{
		display: none;
	}
	.products_block{
		padding:0; 
	}	
}
@media screen and (max-width:  800px){
	body, html{
  		overflow-x: hidden;
	}
	.topnav a:after {
		display: none;
	}
	.head_block1_bottom{
		display: flex;
		flex-wrap: wrap;
	}
	header{
		width: 95%;
		margin: 0 auto;
	}
	.burger_button{
		display: flex;
		background-size: cover;
		width: 23px;
		height: 16px;
		margin: 0 5px;
	}
	a.logo2{
		width: 38px;
		height: 38px;
		display: flex;
		margin-right: 15px; 
	}
	.wrapper_header{
		display: none;
	}
	.wrapper_menu{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		height: 100%; 
	}
	.head_block1_top2{
		display: none;
	}
	.textlogo{
		display: none;
	}
	.logo{
		width:67px;
	}
	.head_block1_top{
		width: 67px;
	}
	.head_block_osn{
		width: 67px;
		margin-right:15px; 
	}
	.head_block1{
		flex-direction: row;
		flex-wrap: nowrap;
		min-height: 67px;
	}
	.topnav{
		overflow: scroll;
		overflow-y: hidden;
		height: 40px;
		margin-top: 20px;  
	}
	.product{
		flex-direction: row;
		max-width: 315px;
	}
	.block_pruduct1{
		width: 50%;	
		flex-direction: column;
		justify-content: space-between;
		margin-right: 15px; 
	}
	.block_pruduct2{
		width: 50%;	
	}
	.dop_inf{
		display: none;
	}
	nav{
		height: 100%;
		max-width: 600px;
	}
	.topnav a:hover:after,
	.topnav a:focus:after {
    	display: none;
	}
	.topnav::-webkit-scrollbar{
    	height: 5px;
	}
	.topnav::-webkit-scrollbar-thumb{
    	background: #c7c7c7;
	}	
}
@media screen and (max-width:  741px){
	.footer_info{
		justify-content: center;
	}
	.footer_mail{
		align-self:center;
	}
}
@media screen and (max-width:  739px){
	nav{
		max-width: 500px;
	}
	.contacts{
		flex-direction: column;
	}
	.contact{
		margin-bottom: 30px;
		margin-right: 0;  
	}
}
@media screen and (max-width:  538px){
	.footer_block1{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		order: 2;
		margin-top: 20px;
	}
	.footer_contact{
		justify-content: center;
		
	}
	.footer_info2{
		align-items: center;
		flex-direction: column;
	}
	.footer_info2 img{
		margin: 15px 0; 
	}
	.footer_block2{
		order: 1;
	}
	.social_footer{
		margin-bottom: 10px;
	}

}
@media screen and (max-width:  500px){
	.status_zakaz {
    	font-size: 16px
	}
	.status_zakaz p {
		font-size: 12px;
	}
	.vid_dostavki {
		height: 150px;
	}
	.zakaz_payment{
		justify-content: center;
	}
	.block_zakaz2{
		display: none;
	}
	.input_block_zakaz{
		display: flex;
		justify-content: center;
	}
	.dom_kvartira {
	    justify-content: center;
	    margin-left: 20px;
	}
	.text_vid_dostavki {
		font-size: 20px;
	}
	.input_block_zakaz input {
	    width: 250px;
	    height: 35px;
	}
	.input_block_mini input {
    	width: 109px;
    	height: 35px;
	}
	.stage_basket{
		display: none;
	}
	.order_price{
		margin-top: 25px;
    	font-size: 20px;
	}
	.nav_basket{
		justify-content: space-around;
		margin-bottom: 0px;
	}
	.nav_zakaz{
		justify-content: space-around;
		margin-bottom: 0px;
	}
	.back_to_basket{
		width: 160px;
	    height: 50px;
	    font-size: 16px;
	}
	.back_menu {
	    width: 160px;
	    height: 50px;
	    font-size: 16px;
	}
	.order_submit{
		width: 130px;
	    height: 50px;
	    font-size: 16px;
	}
	.to_order {
	    width: 130px;
	    height: 50px;
	    font-size: 16px;
	    text-align: center;
	}
	.title_basket{
		margin:15px 0 30px;
	}
	.big-basket{
		margin: 0;
	}
	.name{
		font-size: 14px;
	}
	.description_product{
		font-size: 13px;
	}
	.price_product{
		font-size: 18px;
	}
	.product{
		padding-right: 20px;
	}
	.knopka_basket{
		width: 75px;
		height: 34px;
		font-size: 12px;
	}
	main h2{
		font-size: 20px;
		padding-bottom: 25px;
	}
	.nav_footer{
		height: 60px;
		flex-direction: column;
		align-items: center;
	}
	.text-contacts{
		font-size: 18px;
	}
	.podtext-contacts{
		font-size: 16px;
	}
	.information-block{
		padding-top: 0;
	}
	.information-block p{
		font-size: 16px;
		margin-bottom: 25px; 
	}
	table.tablebasket_mob{
		width: 100%;
		border-spacing: 0 20px;
		border-collapse: separate;
		display: table;
	}
	table.tablebasket_mob tr{
		font-size: 16px;
		background: #fbfbfb;
	}
	table.tablebasket_mob td{
		padding: 10px 10px;
	}
	table.tablebasket_mob_zakaz{
		width: 100%;
		border-spacing: 0;
		border-collapse: separate;
		display: table;
	}
	table.tablebasket_mob_zakaz tr{
		font-size: 16px;
		background: #fbfbfb;
	}
	table.tablebasket_mob_zakaz td{
		padding: 10px 10px;
	}
	.rub-img img{
		width: 7px;
		height: 9px;
		margin-left: 3px; 
	}
	.tablebasket tr td:first-child{
		width: 40%;
		padding:10px 10px; 
	}
}
@media screen and (max-width:  400px){
	nav{
		max-width: 250px;
	}
}
@media screen and (max-width:  360px){
	.commentariy textarea {
    	width: 270px;
    }
	
}
@media screen and (max-width:  320px){
	nav{
		max-width: 200px;
	}
	
}