{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block admin %}
  <div class="products_list">
    <button class="new_product">
      <a href={% url 'admin:product_create' category.pk %}>
        новый продукт
      </a>
    </button>
    {% for obj in object.content %}
      <div class="product_record">
        <img 
          src="{{ obj.image|media_folder_products }}"
          alt="{{ obj.name }}">
        <div class="product_name">
          {{ obj.name|title }}
        </div>
        <div class="product_actions">
          <button>
            <a href={% url 'admin:product_read' obj.pk %}>
              подробнее
            </a>
          </button>
          <button>
            <a href={% url 'admin:product_update' obj.pk %}>
              редактировать
            </a>
          </button>
          <button>
            <a href={% url 'admin:product_delete' obj.pk %}>
              удалить
            </a>
          </button>
        </div>
        <div class="summary">
          <b>цена</b>
          <p>{{ obj.price }} руб</p>
          <b>количество</b>
          <p>{{ obj.quantity }}</p>
        </div>
        <div class="product_desc">
          {{ obj.short_desc|title }}
        </div>
      </div>
    {% endfor%}
  </div>
{% endblock %}