{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<meta name="description" content="">
	<meta name="keywords" content="">
</head>
<body>
	{% include 'cartapp/include/inc_cartmodal.html' %}
	{% comment %} {% include 'authapp/include/loginmodal.html' %} {% endcomment %}
	<header>
		<div class="head_block1">
			<div class="wrapper_header">
				<div class="head_block_osn">
					<div class="head_block1_top">
						<a href="{% url 'main' %}" class="logo">
							<img src="{% static "img/logo.jpg" %}" alt="">
							<div class="textlogo"><p>Конвейер с едой!</p></div>
						</a>
						<div class="head_block1_top2">
							<div class="social_head">
								<a href="#"><img src="{% static "img/vk.svg" %}" alt=""></a>
								<a href="#"><img src="{% static "img/inst.svg" %}" alt=""></a>
								<a href="#"><img src="{% static "img/inst.svg" %}" alt=""></a>
							</div>
							<div class="head_menu">
									<a href="{% url 'about' %}">О нас</a>
									<a href="{% url 'contact' %}">Контакты</a>
								</div>
						</div>
					</div>
					<div class="head_block1_top3">
						<div class="number"><p>8 812 000-00-00</p></div>
					</div>
				</div>
			</div>
			<div class="head_block1_bottom" id="objToStick">
				<div class="wrapper_menu">
					<a href="{% url 'main' %}" class="logo2">
							<img src="{% static "img/logo2.jpg" %}" alt="">
					</a>
					<nav>
						<div class="topnav" id="myTopnav">
							{% include 'mainapp/include/categories_menu.html' %}
							{% if user.is_authenticated %}
								<a href="{% url 'auth:edit' %}">
									{{ user.first_name|default:'Пользователь' }}          
								</a>
							{% endif %}
							{% if user.is_superuser %}
								<a href="{% url 'admin:users' %}">Админка</a>
							{% endif %}	
							{% if user.is_authenticated %}
								<a href="{% url 'auth:logout' %}">Выйти</a>
							{% else %}
								<a href="{% url 'auth:login' %}">Войти</a>
							{% endif %}
								{% comment %} <a class="open_modal" href="#modal3">Войти (модально)</a> 
								Не получилось модально сделать, я пока под комментом оставлю {% endcomment %}

						</div>
					</nav>
					<div class="burger_button"><img src="{% static "img/=.png" %}" alt=""></div>
					{% block get_sum_cart %}
						{% include 'cartapp/include/inc_cart_top_sum.html' %}
					{% endblock %}
				</div>
			</div>
		</div>
	</header>

{% block content %}
	Здесь будет контент
{% endblock %}

    <footer>
        <div class="wrapper">
            <div class="footer_info">
                <div class="footer_block1">
                    <div class="social_footer">
                            <a href="#"><img src="{% static "img/vk.svg" %}" alt=""></a>
                            <a href="#"><img src="{% static "img/inst.svg" %}" alt=""></a>
                            <a href="#"><img src="{% static "img/inst.svg" %}" alt=""></a>
                    </div>
                    <div class="nav_footer">
                        <a href="{% url 'about' %}">О нас</a>
						<a href="{% url 'contact' %}">Контакты</a>
                        <a href="#">Политика конфидециальности</a>
                    </div>	
                </div>
                <div class="footer_block2">
                    <div class="footer_contact">
                            <div class="footer_number">8 812 000-00-00</div>
                            <div class="footer_mail">send@ashevchuk.ru</div>
                    </div>
                </div>
            </div>
            <div class="footer_info2">
                <p>©{% now "Y" %}, COMECOMICS</p>
                <img src="{% static "img/logotip2.png" %}" alt="">
                <p>Разработано: DokinLab & Aleksey Shevchuk</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static "js/cart_edit_script.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</html>