{% extends 'mainapp/base.html' %}

{% block content%}
	<main>
		<div class="wrapper">
			<h2>Контакты</h2>
			<div class="contacts">
				<div class="contact">
					<div class="img-contacts"><img src="/static/img/label.jpg" alt=""></div>
					<div class="inform-contacts">
						<div class="text-contacts">Адрес:</div>
						<div class="podtext-contacts">г. Самара ул. Дачная 2 корпус 2</div>
					</div>
				</div>
				<div class="contact">
					<div class="img-contacts"><img src="/static/img/phone.jpg" alt=""></div>
					<div class="inform-contacts">
						<div class="text-contacts">Телефон:</div>
						<div class="podtext-contacts">8 812 000-00-00</div>
					</div>
				</div>
				<div class="contact">
					<div class="img-contacts"><img src="/static/img/mail.jpg" alt=""></div>
					<div class="inform-contacts">
						<div class="text-contacts">E-mail:</div>
						<div class="podtext-contacts">send@ashevchuk.ru</div>
					</div>
				</div>
			</div>
		</div>
		<div class="maps">
			<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A03e7fafac24eb9b11f5d7dabb3c6ceff270b4cb93062d9025999091fa5469c22&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
		</div>
	</main>
{% endblock %}