{% extends 'mainapp/base.html' %}
{% load static %}

{% block content%}
<main>
	<div class="mobile-korzina">
		<a href="#">
			<div class="block-mobile-korzina">
				<img src="{% static "img/basket-mob.png" %}" alt="">
			</div>
			<div class="num-position">5</div>
		</a>
	</div>
	<div class="fon_slider">
			<div id="viewport">
				<div id="slidewrapper">
					<li class="slide"><img src="{% static "img/slider_1.jpg" %}" alt="" class="slide-img"></li>
					<li class="slide"><img src="{% static "img/slider_2.jpg" %}" alt="" class="slide-img"></li>
					<li class="slide"><img src="{% static "img/slider_3.jpg" %}" alt="" class="slide-img"></li>
				</div>
				<div class="buttom_slider">
					<div id="prev-btn"><img src="{% static "img/prev-btn.png" %}" alt=""></div>
					<div id="next-btn"><img src="{% static "img/next-btn.png" %}" alt=""></div>
				</div>
				<ul class="nav-btns">
					<li class="slide-nav-btn"></li>
					<li class="slide-nav-btn"></li>
					<li class="slide-nav-btn"></li>
				</ul>
			</div>	
	</div>
	<div class="line_brand"><img src="{% static "img/logotip.png" %}" alt=""></div>
	<div class="products_block">
		<div class="wrapper">
			<h2>Бургеры</h2>
			<div class="item_product">
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<button class="knopka_basket" href="#">В корзину</button>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="block-btn-basket">
								<div class="btn-plus-minus">
									<span class="btn-minus"><img src="{% static "img/-.png" %}" alt=""></span>
									<input type="text" value="0">
									<span class="btn-plus"><img src="{% static "img/+.png" %}" alt=""></span>
								</div>
								<div class="knopka_basket2" href="#">Корзина</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="products_block">
		<div class="wrapper">
			<h2>Шаурма</h2>
			<div class="item_product">
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
				<div class="product">
					<div class="block_pruduct1">
						<div class="product_img"><img src="{% static "img/burger.jpg" %}" alt=""></div>
						<div class="basket_img"></div>
					</div>
					<div class="block_pruduct2">
						<div class="name_product">
							<div class="name"><p>Дабл Делюкс</p></div>
							<div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt=""></div>
						</div>
						<div class="description_product"><p>Лаваш, курица, томаты, огурцы свежие, лук маринованный , соус фирменный, перец Халапенью</p></div>
						<div class="price_product">
							<p>179</p>
							<img src="{% static "img/rub.png" %}" alt="">
							<div class="knopka_basket" href="#">В корзину</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}