{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}


    <div class="products_list">
      <div class="title clearfix">
        <h2 class="sort_category_name">
          Категория: "{{ category.name|title }}"
        </h2>
      </div>
      <div class="sort_item_product">

        {% for product in products %}
        <div class="product">
            <div class="block_pruduct1">
                <div class="product_img"><img src="/media/{{ product.image }}" alt="{{ product.short_desc }}"></div>
                <div class="basket_img"></div>
            </div>
            <div class="block_pruduct2">
                <div class="name_product">
                    <div class="name"><p>{{ product.name }}</p></div>
                    <div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt="{{ product.short_desc }}" title="{{ product.short_desc }}"></div>
                </div>
                <div class="description_product"><p>{{ product.description }}</p></div>
                <div class="price_product">
                    <p>{{ product.price }}</p>
                    <img src="{% static "img/rub.png" %}" alt="">
                    <a class="knopka_basket" href="{% url 'products:product' product.pk %}">Подробнее</a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}