{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}


    <div class="products_list">
      <div class="title clearfix">
        <h2 class="sort_category_name">
          Категория: "{{ category.name|title }}"
        </h2>
        {% if paginator %}
        <div class="paginator">
            {% if page.has_previous %}
              <a href="{% url 'products:paged_category' category.pk page.previous_page_number %}">
                Сюда
              </a>
            {% endif %}
            <span class="current">
              страница {{ page.number }} из 
              {{ paginator.num_pages }}
            </span>
            {% if page.has_next %}
              <a href="{% url 'products:paged_category' category.pk page.next_page_number %}">
                Туда
              </a>
            {% endif %}
          </div>
        {% endif %}
        </div>
      <div class="sort_item_product">

        {% for product in products %}
        <div class="product">
            <div class="block_pruduct1">
                <div class="product_img"><img src="{{ product.image|media_folder_products }}" alt="{{ product.short_desc }}"></div>
                <div class="basket_img"></div>
            </div>
            <div class="block_pruduct2">
                <div class="name_product">
                    <div class="name"><p>{{ product.name }}</p></div>
                    <div class="dop_inf"><img src="{% static "img/dop_inf.png" %}" alt="{{ product.short_desc }}" title="{{ product.short_desc }}"></div>
                </div>
                <div class="description_product"><p>{{ product.description }}</p></div>
                <div class="price_product">
                    <p>{{ product.price }}</p>
                    <img src="{% static "img/rub.png" %}" alt="">
                    <a class="knopka_basket" href="{% url 'products:product' product.pk %}">Подробнее</a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}